<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include ("../partials/head") %>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="icon" href="/image/logo-digital-games.ico">
    </head>

    <body>

        <!-- HEADER -->
        <%- include ("../partials/header") %>

            <main>
                <!-- Contenedor Titulo -->
                <section class="contenedor-titulo">
                    <h2 class="titulo-carrito">SOBRE EL JUEGO</h2>
                </section>
                <!-- Call of Duty -->
                <article class="Producto">
                    <!-- Imagen Juego -->
                    <div class="imagen-titulo-caract-container">
                        <div class="contenedor-imagen">
                            <img src="<%= product.img %>" alt="imagen <%= product.name %> " class="imagen">
                        </div>
                        <!-- Titulo -->
                        <div class="titulo-caracteristicas-conteiner">
                            <div>

                                <div class="titulo-detalle-product">
                                    <h3>
                                        <%= product.fullName %>
                                    </h3>
                                </div>
                                <!-- Caracteristicas -->
                                <div class="contenedor-caracteristicas">
                                    
    
                                    <h2>Tambien para:</h2>
                                    <!-- //hay veces que solamente vamos a seleccionar 1 opcion y entonces no vendra como array, hay que preguntar con un IF para que no rompa -->
                                    <p class="consolas">
                                        
                                        
    
                                            <% for (let i = 0; i < product.compatibilities.length; i++) { %>
                                                <%= product.compatibilities[i].name %> <% if(i < (product.compatibilities.length -1) ){%>  - <%  }  %> 
                                            <% } %>
                                        
                                        
                                        </p>
                                    </p>
                                    <h2>Género:</h2>
                                    <p class=" genero">
                                        <% for (let i = 0; i < product.genders.length; i++) { %>
                                            <%= product.genders[i].name %> <% if(i < (product.genders.length -1) ){%>  - <%  }  %> 
                                        <% } %>
                                    </p>
                                    <h2>Modo de juego:</h2>
                                    <!-- //hay veces que solamente vamos a seleccionar 1 opcion y entonces no vendra como array, hay que preguntar para que no rompa -->
                                    <p class=" jugadores">
                                        <% for (let i = 0; i < product.players.length; i++) { %>
                                            <%= product.players[i].name %><% if(i < (product.players.length -1) ){%>  - <%  }  %> 
                                        <% } %>
                                        </p>
                                    
    
                                    <h2>Idioma:</h2>
                                    <!-- //hay veces que solamente vamos a seleccionar 1 opcion y entonces no vendra como array, hay que preguntar para que no rompa -->
                                    <p class=" idioma">
                                        <% for (let i = 0; i < product.lenguages.length; i++) { %>
                                            <%= product.lenguages[i].name %> <% if(i < (product.lenguages.length -1) ){%>  - <%  }  %> 
                                        <% } %>
                                    </p>
                                    
    
                                    <h2>Lanzamiento:</h2>
                                    <p class=" lanzamiento">
                                        <%= product.releaseData %>
                                    </p>
                                    

                                </div>
                            </div>
                            <!-- Botones -->
                            <div class="contenedor-botones-precio">
        
                                <!-- boton volver -->
                                <% if (locals.isLogged && locals.userLogged.roles_id == 1) { %>
                                    <div class="botones-product-detail">
                                        <form action="/products/<%= product.id %>/delete?_method=DELETE" method="POST"><button
                                        class="button-deleted" type="submit">Eliminar</button></form>
                                        <a class="seguir-comprando" href="/products/<%= product.id %>/editProduct"><button
                                                type="submit">Editar producto</button></a>
                                            </div>
                                    <% } %>
                                    <!-- <a class="volver" href="/home"><input class="boton-volver" type="reset" name="reset" id="reset"></a> -->
                                    <!-- boton agregar al carrito -->
                                    
                                    <div class="add-to-cart-price-container">
                                        <h5>
                                            <%= product.name %>:
                                            
                                        </h5> 
                                        <p class="price-detail">$<%= product.price  %> </p>
                                        <a class="carrito" href="/products/productCart"><button type="submit">Agregar al
                                        carrito</button></a>
                                </div>
                                </div>
                            </div>
                           
                    </div>
                    <div class="description-product-detal-container">
                        <!-- Descripcion -->
                        <h2>
                            <%= product.description %>
                        </h2>
                    </div>
                    <!-- Contenedor Fotos -->
                    <section class="contenedor-titulo">
                        <h2 class="titulo-carrito">CAPTURAS</h2>
                    </section>
                    <div class="capturas-detail">

                        <img src="<%= product.capture1 %> " alt="imagen <%= product.name %>" class="imagen">
                        <img src="<%= product.capture2 %> " alt="imagen <%= product.name %>" class="imagen">
                        <img src="<%= product.capture3 %> " alt="imagen <%= product.name %>" class="imagen">
                        <img src="<%= product.capture4 %> " alt="imagen <%= product.name %>" class="imagen">

                    </div>
                    <div class="videoDetail-conteiner">
                        <iframe src="<%= product.video %> " title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>

                    <!-- Botones -->
                    <div class="botones-product-detail">
                        <!-- boton volver -->
                        <a class="seguir-comprando" href="/home"><button type="submit">Continua viendo mas juegos!</button></a>
                        <div class="add-to-cart-price-container">
                            <h5>
                                <%= product.name %> 
                                
                            </h5> 
                            <p class="price-detail">$<%= product.price  %> </p>
                            <a class="carrito" href="/products/productCart"><button type="submit">Agregar al
                            carrito</button></a>
                    </div>
                    </div>
                </article>


            </main>

            <!-- FOOTER -->
            <%- include ("../partials/footer") %>


    </body>

</html>