<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include ("./partials/head") %>
    </head>

    <body>

        <!-- HEADER -->
        <%- include ("./partials/header") %>

            <!-- Banner -->
            <section class="banner">
                <div class="slider-frame">
                    <ul>
                        <li><img src="image/sliders/slider1.jpg" alt="image need for speed"></li>
                        <li><img src="image/sliders/slider2.jpg" alt="call of duty"></li>
                        <li><img src="image/sliders/slider3.jpg" alt="fifa 22"></li>
                        <li><img src="image/sliders/slider4.jpg" alt="super mario bross"></li>
                    </ul>
                </div>
            </section>

            <main>
                <div class="menu-contenedor-breackpoint-ofertas menu-ofertas">
                    <div class="menu-atajos-ofertas">
                        <nav class="main-nav">
                            <ul class="menu">
                                <li class=" button"><a href="/ofertas" class="menu__link">OFERTAS</a></li>
                                <li class=" button"><a href="" class="menu__link">NUEVOS LANZAMIENTOS</a></li>
                                <li class=" button"><a href="" class="menu__link">MAS DESCARGADOS</a></li>
                            </ul>
                        </nav>
                        </span>
                    </div>
                </div>

                <!-- SECCION PRODUCTOS O CARDS -->
                <section class="products-container">
                    <div class="products">
                        <!-- cards -->
                        <% products.forEach(element=> { %>
                            <article class="card-container"><a href="products/<%= element.id  %>/productDetail">
                                    
                                        <div class="img-product-container">
                                            <img src="<%= element.img %>" alt="img <%= element.name  %>"
                                                class="product_img">
                                            <% if (element.discount>0) { %>
                                                <h2 class="etiqueta-off">
                                                    <%= element.discount %>% OFF
                                                </h2>
                                                <% } %>
                                                    <% if (element.freeShipping==true || element.freeShipping=="true" )
                                                        { %>
                                                        <h2 class="envios-gratis">ENVIO GRATIS</h2>
                                                        <% } %>
                                        </div>
                                    
                                    <h2 class="name-game">
                                        <%= element.name %>
                                    </h2>
                                    <div class="main-article">
                                        <div>
                                            <div>
                                                <p class="consolas-compatibles">
                                                    <%= element.compatibility %>
                                                </p>
                                            </div>
                                            <div>
                                                <p class="main-card-categoria">
                                                    <%= element.gender %>
                                                </p>
                                            </div>
                                        </div>
                                        <div>
                                            <p class="price">
                                                <%= element.price %>
                                            </p>
                                        </div>

                                    </div>
                                </a>
                                <div class="button-add-cart-container">
                                    <!-- <a href="products/<EJS= element.id  %>/productDetail"><button class="ver-mas"
                                                type="submit"> Ver detalles del producto </button></a> -->
                                    <a href="/products/productCart"><button class="add-to-car" type="submit"> Add to
                                            Cart </button></a>
                                </div>
                            </article>
                            <% }) %>
                    </div>
                </section>
            </main>

            <!-- FOOTER -->
            <%- include ("./partials/footer") %>

    </body>

</html>