<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include ("../partials/head") %>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/profile.css">
    </head>

    <body class="body-login">

        <!-- HEADER -->
        <%- include ("../partials/header") %>

            <main>
                <div class="container-profile">
                    <div>
                        
                        <div class="container-email">
                            <div>
                                
                                <h2>Hola <%= locals.userLogged.full_name %>
                                </h2>
                                <h2>Direccion: <%= locals.userLogged.address %>
                                </h2>
                                
                                <div class="alert alert-success">
                                    <h2>
                                        email: <%= locals.userLogged.email %>
                                    </h2>
                                </div>
                            </div>
                            <div class="img-profile-container" >
                                <img class="img-profile-user" src="/image/usersAvatar/<%= locals.userLogged.img_profile %>">
                            </div>
                        </div>
                    </div>
                    
                    <div class="logout">
                        <a href="/logout"><button class="logout-button" type="submit">Cerrar Sesion</button></a>

                    </div>
                </div>
            </main>

          

    </body>

</html>