<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include ("../partials/head") %>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/profile.css">
    </head>

    <body class="body-login">

        <!-- HEADER -->
        <%- include ("../partials/header") %>

            <main>
                <div class="container-profile">
                    <div class="container-email">
                        <h2>Hola <%= locals.userLogged.full_name %>
                        </h2>
                        <h2>Direccion: <%= locals.userLogged.address %>
                        </h2>
                        <div class="img-profile">
                            Avatar: <img src="/image/usersAvatar/<%= locals.userLogged.img_profile %>">
                        </div>
                        <br>
                        <div class="alert alert-success">
                            <h2>
                                email: <%= locals.userLogged.email %>
                            </h2>
                        </div>
                    </div>
                    <a href="/logout"><button class="logout-button" type="submit">Cerrar Sesion</button></a>
                </div>
            </main>

            <!-- FOOTER -->
            <%- include ("../partials/footer") %>

    </body>

</html>